:root {
  --main-text-color: #192a32;
  --btn-text-color: #fcfcfc;
  --white-text-color: #fff;
  --logo-bg-color: #141e55;
  --header-bg-color: #192a32;
  --navs-bg-color: #1a3769;
  --section-bg-color: #fff;
  --body-bg-color: radial-gradient(
    33.56% 33.56% at 45.9% 46.39%,
    rgb(255, 255, 255) 0%,
    rgb(0, 185, 222) 20.10415345430374%,
    rgb(0, 133, 194) 39.89582061767578%,
    rgb(0, 104, 154) 68.02082061767578%,
    rgb(0, 83, 123) 100%
  );
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: var(--main-text-color);
  background-image: var(--body-bg-color);
  background-size: 2114px 2114px;
  background-position: right 90px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*  Reset */

ul {
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  display: block;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin: 20px 0;
  padding: 32px 20px;
  border-radius: 6px;
  background-color: var(--section-bg-color);
}

/*  Header */

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  background-color: var(--header-bg-color);
  padding: 12px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: 28px;
  align-items: center;
}

.logo {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.28;
  text-transform: uppercase;
  padding: 14px 32px;
  color: var(--white-text-color);
  background-color: var(--logo-bg-color);
  transition: all 300ms ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.site-nav {
  display: flex;
  gap: 21px;
  align-items: center;
}

.site-nav__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  padding: 14px 24px;
  border-radius: 16px;
  text-transform: uppercase;
  color: var(--btn-text-color);
  background-color: var(--navs-bg-color);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 300ms ease-in-out;
}

.site-nav__link:hover {
  transform: scale(1.1);
}

.lang-auth-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 131px;
}

.custom-select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navs-bg-color);
  padding: 14px 24px;
  border-radius: 16px;
  cursor: pointer;
}

.custom-select__trigger {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.custom-select__trigger span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white-text-color);
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.custom-select__trigger .arrow {
  width: 24px;
  height: 24px;
  background: url('../images/arrow-down.svg') no-repeat center;
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--navs-bg-color);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
}

.custom-option {
  padding: 14px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--white-text-color);
}

.custom-option:hover,
.custom-option.selected {
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-select.open .custom-options {
  display: flex;
}

.site-auth {
  display: flex;
  align-items: center;
  gap: 16px;
}

.auth-link {
  box-shadow: 0 4px 18px 0 rgba(14, 24, 17, 0.25);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--btn-text-color);
  border-radius: 16px;
  padding: 14px 32px;
  transition: all 300ms ease-in-out;
}

.auth-link:hover {
  transform: scale(1.1);
}

.auth-link--orange {
  background: #ec622b;
}

.auth-link--green {
  background: #0fa810;
}

/* Main */

.container__flex {
  display: flex;
  gap: 20px;
  align-items: start;
}

.container__left {
  width: 925px;
}

.container__right {
  width: 295px;
  margin-top: 100px;
}

/* Pre-Hero */

.pre-hero {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 25px 20px;
  margin-top: 100px;
}

.pre-hero__text {
  width: 666px;
}

.pre-hero__link {
  border-radius: 16px;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: justify;
  color: var(--white-text-color);
  background-color: var(--navs-bg-color);
  display: flex;
  align-items: center;
  gap: 7px;
  transition: all 300ms ease-in-out;
}

.pre-hero__link:hover {
  transform: scale(1.05);
}

/* Hero Section */

.hero {
  background-image: url(../images/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 41px 20px 52px 20px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bg@2x.webp);
  }
}

.hero__wrap-pre-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 38px;
}

.hero__pre-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero__list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.hero__title {
  width: 538px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 16px;
}

.hero__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  text-align: center;
  text-transform: uppercase;
  color: var(--btn-text-color);
  border: 1px solid var(--white-text-color);
  border-radius: 16px;
  padding: 14px 75px;
  box-shadow: 0 4px 18px 0 rgba(14, 24, 17, 0.25);
  background: #ec622b;
  margin-bottom: 10px;
  transition: all 300ms ease-in-out;
}

.hero__link:hover {
  transform: scale(1.05);
}

.hero__after-link-text {
  font-weight: 400;
  font-size: 6px;
  line-height: 1.5;
  color: var(--white-text-color);
  width: 214px;
  text-align: center;
}

/* Sections Section */

.sections__list {
  display: flex;
  align-items: start;
}

.sections__link {
  position: relative;
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  color: #192a32;
  background: #f6f6f6;
  border-radius: 6px;
  border-right: 1px solid rgba(16, 76, 84, 0.2);
  width: 98px;
  height: 102px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 15px;
  transition: all 250ms ease-in-out;
}

.sections__item:nth-child(8) .sections__link {
  gap: 3px;
}

.sections__item:nth-child(9) .sections__link {
  gap: 18px;
}

.sections__link span {
  width: 47px;
}

.sections__item:last-child span {
  width: 65px;
}

.sections__link:hover {
  box-shadow: 0 1px 12px 0 rgba(10, 98, 106, 0.15);
  background: #fff;
  border: none;
}

.sections__link::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 98px;
  height: 8px;
  background: transparent;
  transition: all 250ms ease-in-out;
}

.sections__link:hover::before {
  background: #2e9344;
}

/* Bonus Section */
.bonus {
  background-image: url(../images/bonus-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 90px 20px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bonus {
    background-image: url(../images/bonus-bg@2x.webp);
  }
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.bonus__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: var(--main-text-color);
  margin-bottom: 16px;
  width: 494px;
}

.bonus__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--btn-text-color);
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 14px 32px;
  box-shadow: 0 4px 18px 0 rgba(14, 24, 17, 0.25);
  background: #ec622b;
  transition: all 300ms ease-in-out;
}

.bonus__link:hover {
  transform: scale(1.05);
}

/* After-Bonus Section */

.title--bigger {
  font-size: 48px;
}

/* Rating Section */

.rating_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rating__item {
  border-radius: 6px;
  padding: 16px 24px;
  background: #80bef8;
  display: flex;
  align-items: center;
  gap: 16px;
}

.rating__text {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-text-color);
  width: 165px;
  flex-grow: 1;
}

.stars {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating__number {
  font-size: 14px;
  color: var(--white-text-color);
}

/* Facts Section */

.title--underlined {
  border-bottom: 2px solid #c5c5c5;
  padding: 0px 0px 6px 0px;
  width: 269px;
  margin-left: 20px;
  margin-bottom: 18px;
}

.facts__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.facts__item {
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.facts__name {
  font-weight: 500;
  text-transform: capitalize;
  width: 171px;
}

.facts__description {
  width: 587px;
  padding-left: 24px;
}

/* Sportsbook Section */

.title--margin24 {
  margin-bottom: 24px;
}

.sportsbook__text {
  margin-bottom: 24px;
}

.sportsbook__textLast {
  margin-bottom: 40px;
}

.unordered__list {
  margin-bottom: 24px;
}

.unordered__item {
  display: flex;
  gap: 7px;
  align-items: start;
}

.unordered__item:not(:last-child),
.ordered__item:not(:last-child) {
  margin-bottom: 24px;
}

.unordered__item::before {
  content: '-';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.ordered__list {
  counter-reset: list-counter;
  list-style: none;
  padding-left: 0;
  margin-bottom: 24px;
}

.ordered__item {
  counter-increment: list-counter;
  position: relative;
  padding-left: 31px;
}

.ordered__item::before {
  content: counter(list-counter);
  position: absolute;
  left: 9px;
  color: #2e9344;
}

.sportsbook__link {
  margin-top: 32px;
}

/* Reviews */

.reviews {
  position: relative;
  padding: 20px 20px 26px 20px;
}

.reviews-slider__item {
  border-radius: 6px;
  padding: 32px 20px 32px 32px;
  margin-right: 19px;
  width: 433px;
  background: #e2eaf7;
  display: flex;
  align-items: start;
  gap: 31px;
}

.right-part__top {
  padding-top: 7px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}

.right-part__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  flex-grow: 1;
}

.right-part__rating {
  font-size: 12px;
  line-height: 1.2;
}

.buttons {
  position: absolute;
  right: 30px;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.buttons button {
  border-radius: 100px;
  background-color: #e2eaf7;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in-out;
}

.buttons button:hover {
  transform: scale(1.05);
}

/* Support Section */

.support {
  padding: 20px;
  background-image: url(../images/support-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .support {
    background-image: url(../images/support-bg@2x.webp);
  }
}

.support__text {
  margin-bottom: 24px;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 35px;
}

.contacts__link {
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #192a32;
  border-radius: 16px;
  padding: 10px 24px;
  transition: all 250ms ease-in-out;
}

.contacts__link:hover {
  transform: scale(1.05);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details__item {
  display: flex;
  align-items: start;
  gap: 16px;
  border-bottom: 1px solid #192a32;
  padding: 10px 0;
}

.details__name {
  width: 222px;
}

.details__name + p {
  padding-left: 10px;
}

.details__description {
  padding-left: 10px;
  color: #2e9344;
  transition: all 250ms ease-in-out;
}

.details__description:hover {
  transform: scale(1.1);
}

.details__description--bold {
  font-weight: 600;
}

/* Questions Section */

.questions {
  padding: 30px 27px;
}

.questions .title {
  margin-bottom: 32px;
}

.questions__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion {
  cursor: pointer;
  background-color: var(--section-bg-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(119, 119, 119, 0.5);
  transition: all 300ms ease-in-out;
}

.panel {
  border-radius: 0 0 6px 6px;
  padding: 16px 12px;
  width: 100%;
  background: #dfe8f6;
  opacity: 0.9;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: url('../images//arrow-up.svg');
}

.active:after {
  content: url('../images//arrow-up.svg');
  rotate: 180deg;
}

/* Aside */

/* Events */

.events {
  background-color: var(--header-bg-color);
  padding-top: 20px;
  border-radius: 6px;
}

.events__link {
  text-transform: uppercase;
  color: var(--btn-text-color);
  border-radius: 60px;
  padding: 4px 16px 4px 4px;
  background: #ec622b;
  display: flex;
  align-items: center;
  gap: 18px;
  width: fit-content;
  margin: 0 auto 20px auto;
  transition: all 300ms ease-in-out;
}

.events__link:hover {
  transform: scale(1.05);
}

.events__icon-wrap {
  background-color: var(--section-bg-color);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events__list {
  background-color: var(--section-bg-color);
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.events__text {
  padding: 8px 12px;
  color: #7c7c7c;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 300ms ease-in-out;
}

.events__text:hover {
  background-color: var(--header-bg-color);
  color: var(--btn-text-color);
}

/* Casino */

.casino {
  background-color: var(--section-bg-color);
  margin-top: 20px;
  border-radius: 6px;
  padding-bottom: 20px;
}

.casino__text {
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--btn-text-color);
  border-radius: 6px;
  padding: 20px 116px;
  background-color: var(--header-bg-color);
  margin-bottom: 20px;
}

.casino__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 20px 0 25px;
}

.casino__item {
  position: relative;
  overflow: hidden;
}

.casino__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  background-color: rgba(26, 55, 105, 0.8);
  border-radius: 6px;
  padding: 16px 8px 8px 8px;
  transition: all 250ms ease-in-out;
}

.casino__item:hover .casino__overlay {
  transform: translateX(0);
}

.casino__name {
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--btn-text-color);
}

.casino__login {
  font-weight: 600;
  color: #2cb154;
  transition: all 300ms ease-in-out;
}

.casino__login:hover {
  transform: scale(1.1);
}

.casino__card-text {
  color: var(--btn-text-color);
}

.casino__signUp {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--btn-text-color);
  box-shadow: 0 4px 18px 0 rgba(14, 24, 17, 0.25);
  background: #ec622b;
  border-radius: 16px;
  padding: 8px 16px;
  transition: all 300ms ease-in-out;
}

.casino__signUp:hover {
  transform: scale(1.1);
}
